@import url(https://fonts.googleapis.com/css?family=Roboto:700);
body {
	margin: 0;
	padding: 0;
	background-color: #2c3e50;
}
section {
    margin-top: 10px;
}
  
#board {
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 500px;
}
.boardRow {
    width: 100%;
    border-bottom: 1px solid #2c3e50;
    box-sizing: border-box;
}
  
.boardCol, .square {
    height: 100%;
    background-color: #34495e;
    float: left;
    border-radius: 3px;
    border-left: 1px solid #2c3e50;
    box-sizing: border-box;
    cursor:pointer;
}
.controls{
    margin: auto;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}
.square
{
	width:100%;
	font-size:9px;
	background-repeat:round;
	overflow:hidden;
	opacity:0.8;
}
.row{
    margin: 0;
}
#imgPlayer
{
	width:90px;
	height:90px;
	margin:auto;
	margin-top:5px;
	background-image:url('./Images/X.png');
	background-repeat:round;
}